/* styles for screens larger than 768px */
.about h1 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  text-decoration: underline orange;
  font-family: cursive;
}

.about_desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_img {
  margin-right: 50px;
  margin-left: 50px;
}

.about_desc p {
  font-weight: 700;
  font-size: 30px;
  font-family: cursive;
}

/* styles for screens smaller than 768px */
@media (max-width: 768px) {
  .about h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .about_desc {
    flex-direction: column;
  }
  
  .about_img {
    margin: 0;
    margin-bottom: 30px;
  }
  
  .about_desc p {
    font-size: 24px;
  }
}
