/* styles for screens larger than 768px */
.home h1 {
  background-color: #fdd661;
  width: 53%;
  margin-left: 300px;
  margin-bottom: 20px;
  font-size: 55px;
  letter-spacing: 3px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 1000;
}

.home h4 {
  text-align: center;
  margin-bottom: 20px;
}

.homeCat {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 55px;
  margin-top: 50px;
}

/* styles for screens smaller than 768px */
@media (max-width: 768px) {
  .home h1 {
    font-size: 36px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
  }
  
  .homeCat {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
  }
  
  .homeCat > div {
    width: 45%;
    margin: 10px 2.5%;
  }
  
  .homeCat > div img {
    width: 100%;
  }
  
  .home h4 {
    font-size: 24px;
  }
}
